/*universial elements*/
/*
Chalkduster, fantasy
Snell Roundhand, cursive
*/
/*fills webpage*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Chalkduster, fantasy;
    color: white;
}

/*header design*/

header {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url(../images/hero.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}
header a {
    color: white;
    text-decoration: none;
}
header nav {
    margin: 5px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}
header nav ul li a {
    padding: 10px 30px;
    font-weight: lighter;
    font-size: 1vw;

}
header nav ul li a:hover {
    background: goldenrod;
    color: black;
    border-radius: 20px;
    padding: 0px 20px;
    border-style:double;
}
footer {
    background: black;
    padding: 40px 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* Class elements */
.title {
    font-weight: bold;
    font-size: 40px;
    font-family: Chalkduster, fantasy;
    color: goldenrod;
}
.title-space {
    padding: 50px 0px 0px 50px;
}
.vl {
    border-style: 100px solid white;
    height: 500px;

}
/* hero */
.hero {
    background-image: url(..//images/hero.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 600px;
    position: relative;
}
/* hero quote*/
div.quote {
    max-width: 40%;
    position: absolute;
    bottom: 25px;
    right: 0;
}
.about {
    background-image: url(../images/stars.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 600px;
    position: relative;
}
.box {
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    border-style: solid;
    border-color: goldenrod;
    width: 60%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 15px;
}
.box p {
    font-family: Snell Roundhand, cursive;
    font-size: 25px;
    color: white;
}
/* contact */

.connect {
    background-image: url(../images/rocket.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 600px;
    position: relative;
}

/* id elements*/
#quote {
    font-family: Snell Roundhand, cursive;
    font-style: italic;
    font-size: 60px;
    font-weight: bolder;
    color:black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: goldenrod;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
    text-align: left;
}
